# Framework principal
fastapi==0.115.0

# Servidor ASGI (incluye uvloop y gunicorn con [standard])
uvicorn[standard]==0.30.6

# ORM
sqlalchemy==2.0.34

# Manejo de bases de datos async
databases==0.9.0

# Validación de datos
pydantic==2.9.2
pydantic-settings==2.6.0

# Drivers de base de datos (elige el que uses)
asyncpg==0.29.0     # PostgreSQL
aiomysql==0.2.0     # MySQL/MariaDB
aiosqlite==0.20.0   # SQLite
